:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --height-header:70px;
}
* {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* animation */
@keyframes zoom {
    from{
     opacity: 0;
     transform: scale(0.7);
    }
    to{
     opacity: 1;
     transform: scale(1);
    }
}
@keyframes zooms {
    from{
     opacity: 0;
     transform: scale(0.3);
    }
    to{
     opacity: 1;
     transform: scale(1);
    }
}
@keyframes move_right {
    from{
        opacity: 0;
     transform: translateX(100%);
    }
    to{
        opacity: 1;
transform: translate(0%);
    }
}
@keyframes move_left {
    from{
        opacity: 0;
     transform: translateX(-100%);
 
    }
    to{
        opacity: 1;
 transform: translate(0%);
    }
    
}   

@keyframes fadeIn {
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}
/* index.html */
 /* .grid{
width: 1465px;
max-width: 100%;
margin: 0 auto;
}

.grid__row{
display: flex;
flex-wrap: wrap;
margin-left: -2px;
margin-right: -2px;
}

.grid__column-4{
padding-left: 2px;
padding-right: 2px;
width:25%;
} */

/* footer */
/* .grid2{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    }

    .grid__row2{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
    }
    .grid__column-3{
        padding-left: 20px;
        padding-right: 20px;
        width:33.33334%;
        } */
/* food.html */
/* .grid-3{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    }
.grid__row-3{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; 
    }
    .grid__column-3-2{
        padding-left: 20px;
        padding-right: 20px;
        width:50%;
        } */
   /* contact */
   /* .grid-4{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    }
.grid__row-4{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; 
    }
    .grid__column-4-2{
        padding-left: 20px;
        padding-right: 20px;
        width:50%;
        } */